<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117535266053-n2vnp0mhefrir0qvppepjvi65ogipq8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117535266053-n2vnp0mhefrir0qvppepjvi65ogipq8r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>117535266053-4e23al3uugspd45k85t8703dcpe2h0sb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJWER98ebj6f4VcdN1_gPfMZ0dAQBL-Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>117535266053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.foro</string>
	<key>PROJECT_ID</key>
	<string>food-zero-6e8db</string>
	<key>STORAGE_BUCKET</key>
	<string>food-zero-6e8db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117535266053:ios:156a141372829a9963136c</string>
</dict>
</plist>